<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React - API</title>
</head>
<body>
<div id="app"></div>
<script src="./node_modules/babel-standalone/babel.js"></script>
<script src="./node_modules/react/umd/react.production.min.js"></script>
<script src="./node_modules/react-dom/umd/react-dom.production.min.js"></script>
<script type="text/babel">
    class CustomButton extends React.Component{
        constructor(props){
            super(props);
            console.log("constructor");
        }
        shouldComponentUpdate(nextProps,nextState){
            console.log("shouldComponentUpdate");
            console.log(nextProps);
            return true;
        }
        static getDerivedStateFromProps(){
            console.log("hello");
        }
        render(){
            const props = this.props;
            console.log('render');
            return (
                <div>
                    <p>子组件的count:{props.count}</p>
                </div>
            )
        }
    }

    class Greeting extends React.PureComponent {
        constructor(props){
            super(props);
            this.state = {
                count:1
            }
        }
        handleClick = (event) => {
            this.setState(state => ({
                count:state.count + 1
            }))
        }
        render(){
            return (
                <div>
                    <button
                        onClick={this.handleClick}
                    >{this.state.count}</button>
                    <CustomButton count={this.state.count}/>
                </div>
            )
        }
    }

    ReactDOM.render(
        <Greeting/>,
        document.getElementById("app")
    )



</script>
</body>
</html>