<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Computed</title>
	</head>
	<body>
		<div id="app">
			<input type="number" v-model="num">
		</div>
		<div id="computed_props">
			<p>千米:<input type="text" v-model.number="kilometers"></p>
			<p>米:<input type="text" v-model.number="meters"></p>
		</div>
		<div id="demo">
			<input type="text" v-model="firstName">
			<input type="text" v-model="lastName">
			<p>{{fullName}}</p>
		</div>
		<div id="root">
			<input type="text" v-model="first">
			<input type="text" v-model="last">
			<p>{{fullName}}</p>
		</div>
		<div id="box">
			<input type="text" v-model="message">
			<p>origin message:{{message}}</p>
			<p>Computed reversed message:{{ reversedMessage() }}</p>
		</div>
		<div id="box1">
			<input type="text" v-model="price">
			<span>{{price | capitalize}}</span>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			const vm = new Vue({
				el:"#app",
				data:{
					num:0
				},
				watch:{
					num(){
						console.log('num被改变了');
					}
				}
			});
			
			let vm1 = new Vue({
				el:"#computed_props",
				data:{
					kilometers:0,
					meters:0
				},
				computed:{},
				methods:{},
				watch:{
					kilometers(val){
// 						console.log(val);
// 						this.kilometers = val;
// 						this.meters = this.kilometers * 1000
						this.meters = val * 1000;
					},
					meters(val){
						// console.log(val);
						this.kilometers = val/1000
						// this.meters = val;
					}
				}
			});
			
			new Vue({
				el:document.getElementById("demo"),
				data:{
					firstName:'kyrie',
					lastName:'irving',
					fullName:''
				},
				watch:{
					firstName(val){
						this.fullName = val + " " + this.lastName;
					},
					lastName(val){
						this.fullName = this.firstName + " " + val;
					}
				}
			});
			
			new Vue({
				el:document.getElementById("root"),
				data:{
					first:"kyrie",
					last:"irving",
				},
				computed:{
					fullName(){
						return this.first + this.last;
					}
				}
			});
			
			new Vue({
				el:"#box",
				data:{
					message:'Hello',
				},
// 				computed:{
// 					reversedMessage:function(){
// 						return this.message.split('').reverse().join('');
// 					}
// 				},
				methods:{
					reversedMessage(){
						return this.message.split("").reverse().join("");
					}
				}
			});
			
			new Vue({
				el:"#box1",
				data:{
					price:"",
				},
				filters:{
					capitalize:function(value){
						return value + "￥"
					}
				}
			});
			
			
		</script>
	</body>
</html>
