body,ul,ol,p,h1,h2,h3,h4,h5,h6,input,textarea{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style:none;
}
i,em{
    font-style:normal;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
a{
    text-decoration:none;
    color:#222;
}
input,button{
    outline:none;
    border:none;
}
body{
    color:#222;
}
img{
    width:100%;
    height:100%;
}
header{
    position:sticky;
    top:0;
    background-color:#fff;
    z-index:1000;
}
.header-container{
    display:flex;
    padding:0 24px 0 30px;
    height: 90px;
    justify-content:space-between;
    align-items:center;
}
.header-container .logo{
    width:168px;
    height: 34px;
    background:url("../imgs/logo.png") no-repeat center/cover;
}
.header-container .search{
    position:relative;
    width: 430px;
    height: 60px;
    border-radius:30px;
    background-color:#f0f0f0;
}
.header-container .search-logo{
    position:absolute;
    top:14px;
    right:20px;
    width: 32px;
    height: 32px;
    background:url("../imgs/search-logo.png") no-repeat center/cover;
}
.header-container .login{
    width: 44px;
    height: 44px;
    background:url("../imgs/login.png") no-repeat center/cover;
}
.nav-list a{
    color:#222;
    font-size:30px;
}
.nav{
    padding:32px 24px 20px 0;
    display:flex;
    justify-content:space-between;
}
.nav .header-nav{
    margin-left:30px;
    width:85%;
    height:44px;
    overflow-x:scroll;
    overflow-y:hidden;
}
.nav .nav-list{
    display:-webkit-box;
    height:46px;
}
.nav-list>li{
    height:46px;
    padding:0 30px;
    text-align:center;
}
.nav-list>li:nth-child(1){
    padding:0;
    margin-right:30px;
}
.nav-list>li.nav-active{
    position:relative;
}
.nav-list>li.nav-active a{
    color:#2692ff;
}
.nav-list>li.nav-active:after{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    height:4px;
    width:38px;
    background-color:#2692ff;
}
.nav .arrow-down{
    display:block;
    width:44px;
    height:44px;
    background:url("../imgs/arrow-down.png") no-repeat center/cover;
}
.banner{
    overflow:hidden;
    width:750px;
}
.banner,.banner .banner-container>li{
    width:750px;
    height: 376px;
}
.banner .banner-container>li img{
    width: 100%;
    height: 100%;
}
.banner .banner-container{
    width:4500px;
    height: 376px;
}
.banner .banner-container>li{
    float:left;
}
.hot-tv{
    margin-top:20px;
}
.hot-tv .tv-list{
    display:flex;
    display:-webkit-flex;
    justify-content:space-between;
    flex-flow:row wrap;
}
.hot-tv .tv-list>li{
    width:372px;
}
.hot-tv .tv-list .tv-img{
    position:relative;
    width:372px;
    height: 208px;
}
.hot-tv .tv-list .tv-img img{
    width: 100%;
    height:100%;
}
.hot-tv .tv-list .tv-img .first{
    position:absolute;
    right:10px;
    top:20px;
    width:60px;
    height:32px;
    background-color:#ed2751;
    color:#fff;
    font-size:23px;
    text-align:center;
    line-height:32px;
    border-radius:8px;
}
.hot-tv .tv-info{
    height:144px;
    padding-left:15px;
}
.hot-tv .tv-info .title{
    padding:20px 0 12px;
    font-size:30px;
    color:#000;
}
.hot-tv .tv-info .desc{
    font-size:24px;
    color:#a2a2a2;
}
.hot-tv .tv-info .title,.hot-tv .tv-info .desc{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.drama .dramaTitle{
    padding:6px 0 22px 20px;
    font-weight:bold;
    font-size:34px;
}
.drama .drama-poster{
    position:relative;
    height:420px;
    width:100%;
}
.drama .drama-poster img{
    width: 100%;
    height:100%;
}
.only,.first{
    padding:3px;
    position:absolute;
    right:10px;
    top:10px;
    background-color:#f4345f;
    color:#fff;
    font-size:24px;
    border-radius:6px;
}
.update{
    position:absolute;
    bottom:10px;
    right:10px;
    color:#fff;
    font-size:22px;
}
.drama .hot-drama .drama-info{
    height:144px;
    background-color:#fff;
}

.drama .drama-container{
    display:flex;
    display:-webkit-flex;
    flex-flow:row wrap;
    justify-content:space-between;
}
.drama .drama-container .drama-item{
    width:246px;
    height:512px;
}
.drama .drama-container .poster{
    position:relative;
}
.drama .drama-info{
    padding-left:15px;
    height:144px;
}
.drama .title{
    font-size:30px;
    padding:28px 0 12px;
}
.drama .desc{
    color:#999999;
    font-size:24px;
}
.drama .title,.drama .desc{
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.bottomContainer{
    display:flex;
    justify-content:space-around;
}
.bottomContainer .enter,.bottomContainer .refresh{
    display:flex;
    width:352px;
    height:90px;
    background-color:#f2f2f2;
    border-radius:5px;
    font-size:24px;
    align-items:center;
    justify-content:center;
}
.bottomContainer .enter>img,.bottomContainer .refresh>img{
    width: 32px;
    height: 32px;
    margin-left:5px;
}
