<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vuex</title>
</head>
<body v-cloak>
  <div id="state-demo">
    <p>count: {{$store.state.count}}</p>
    <p>message: {{$store.state.message}}</p>
    <h5>使用mapState辅助函数</h5>
    <div>count: {{count}}</div>
    <div>message: {{message}}</div>
  </div>
  <hr>
  <div id="getter-demo">
    <ul>
      <li v-for="todo in todos" :key='todo.id'>{{todo.text}}</li>
      <li>------------------</li>
      <li v-for="todo in doneTodos" :key='todo.id'>{{todo.text}}</li>
    </ul>
  </div>
  <hr>
  <div id="mutation-demo">
    <button @click='increase'>{{count}}</button>
    <button @click='decrease'>{{count}}</button>
  </div>
  <hr>
  <div id="action-demo">
    <button @click='incrementAsync'>click async -- {{count}}</button>
    <button @click='increment_by_store'>{{count}}</button>
  </div>
  <hr>
  <div id="module-demo">
    <div>{{singer_fullName}} {{singer.firstName}} {{singer.lastName}} {{singer.age}}</div>
    <div>{{player_fullName}} {{player.firstName}} {{player.lastName}} {{player.age}}</div>
    <button @click='change_player_age'>change player age</button>
    <button @click='change_singer_age'>change singer age</button>
    <button @click='add_todo'>dispatch</button>
    <!-- 访问根组件 length -->
    <div>{{todoLength}}</div>
    <ol>
      <li v-for='todo in todos' :key='todo.id'>{{todo.text}}</li>
    </ol>
    <!-- 触发根组件 mutation -->
    <button @click='add_todo'>add todo</button>
  </div>
  <script src="../src/vue.development.js"></script>
  <script src='../src/vuex.development4.js'></script>
  <script src='./src/state.js'></script>
  <script src='./src/getter.js'></script>
  <script src='./src/mutation.js'></script>
  <script src='./src/action.js'></script>
  <script src='./src/module.js'></script>
</body>
</html>
