@charset 'utf-8';
html,body,ul,ol,p,h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
ul,ol{
  list-style:none;
}
h1,h2,h3,h4,h5,h6{
  font-size:100%;
  font-weight:bold;
}

body{
  line-height:1;
  color:rgba(0,0,0,.65);
  background-color:pink;
}
