<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑学生信息</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h3>编辑学生信息</h3>
    <p>姓名: <input type="text" name="name" id="firstName"></p>
    <p>性别: <input type="text" name="sex" id="sex"></p>
    <p>语文: <input type="text" name="Chinese" id="chinese"></p>
    <p>数学: <input type="text" name="Math" id="math"></p>
    <p>英语: <input type="text" name="English" id="english"></p>
    <p><button id="submit">提交</button></p>
    <a href="/">返回首页</a>
</div>
<script src="/js/ajax.js"></script>
<script>
    submit.addEventListener('click',function(){
        // 如果数据为空,则提示上传数据
        if((firstName.value=="") || (sex.value=="") || (chinese.value=="") || (math.value=="") || (english.value=="")){
            window.alert("请补全信息");
        }else{
            ajax({
                method:"POST",
                url:"/add",
                data:{
                    name:firstName.value,
                    sex:sex.value,
                    Chinese:chinese.value,
                    Math:math.value,
                    English:english.value
                },
                success(msg){
                    window.alert(msg);
                }
            })
        }
    },false);
</script>
</body>
</html>