<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>属性绑定</title>
		<style>
			body,ol,ul{
				padding: 0;
				margin: 0;
			}
			.box1{
				font-size:20px;
				color:red;
			}
			.item1>i{
				font-style:normal;
			}
			.item2>i{
				font-size:20px;
			}
			.bool,.active{
				width: 100px;
				height: 100px;
			}
			.bool{
				background-color:pink;
			}
			.active{
				background-color:green;
			}
		</style>
	</head>
	<div id="app">
		<!-- 绑定class为字符串的时候 -->
		<span :class="c1">{{msg}}</span>
		<!-- 数组 -->
		<span :class="arr" v-html="html"></span>
		<!-- 对象 -->
		<div :class="classObj"></div>
		<div :style="styleObj"></div>
	</div>
	<div id="box1">
		<span v-if="seen">Now you see me</span>
		<span v-else>Now you can not</span>
		<span v-if="Math.random()>0.5">Hello</span>
		<span v-else>World</span>
	</div>
	<div id="box2">
		<div v-if="type=='A'">A</div>
		<div v-else-if="type=='B'">B</div>
		<div v-else-if="type=='C'">C</div>
		<div v-else>Not A/B/C</div>
	</div>
	<div id="root">
<!-- 		<ul>
			<li v-for="item in items">{{item.message}}</li>
		</ul> -->
		<ul v-for="item in items">
			<li>{{item.message}}</li>
		</ul>
		<ul>
			<li v-for="player in arr" :key="player.id">{{player}}</li>
			<li v-for="player of arr">{{player}}</li>
			<li v-for="(player,index) of arr">{{index}}----{{player}}</li>
		</ul>
		<ol>
			<li v-for="(value,key,index) in obj">{{key}},{{value}},{{index}}</li>
		</ol>
		<ol>
			<li v-for="(value,key,index) of object">{{key}}:{{value}}---{{index}}</li>
		</ol>
	</div>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			const vm = new Vue({
				el:'#app',
				data:{
					msg:'Hello World',
					c1:'box1',
					html:"<i>你好，China</i>",
					arr:["item1","item2"],
					classObj:{
						"active":false,
						"bool":true
					},
					styleObj:{
						width:"50px",
						height:"50px",
						borderRadius:"8px",
						backgroundColor:"red"
					}
				}
			});
			
			new Vue({
				el:"#box1",
				data:{
					// seen:true
					seen:false,
				}
			})
			new Vue({
				el:"#box2",
				data:{
					type:'D'
				}
			});
			
			new Vue({
				el:document.getElementById('root'),
				data:{
					items:[
						{message:"Foo"},
						{message:"Bar"}
					],
					arr:["Kyrie","Lebron","Durant","Curry"],
					obj:{
						firstName:"Kyrie",
						lastName:'irving',
						age:26
					},
					object:{
						firstName:"John",
						lastName:"Doe",
						age:30
					}
				}
			})
			
		</script>
	</body>
</html>
