<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSS选择器</title>
  <style>
    #container p{color: red;}
    div #p1{color: green;}
    /*  */
    #container p.yellow-text{color: yellow;}
    div #p2{color: pink;}
  </style>
</head>
<body>
  <div id="container">
    <p id="p1">hello world</p>
    <p class="yellow-text" id="p2">你好世界</p>
  </div>
</body>
</html>