<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>抽屉效果</title>
  <style>
    .drawer {
      position:fixed;
      right:0;
      top: 0;
      bottom: 0;
      width: 300px;
      background-color: pink;
      transition: all .3s;
    }
    .drawer.hide {
      transform: translateX(100%);
    }
  </style>
</head>
<body>
  <div class="drawer hide"></div>
  <script>
    const drawer = document.querySelector('.drawer')
    const fn = (second) => {
      window.setTimeout(() => {
        drawer.classList.toggle('hide')
      }, second * 1000)
    }
    fn(1)
    fn(4)

    function fn1 () {
      function f3() { n++ }
      let n = 20
      f3()
      console.log(n)
      n++
      console.log(n)
    }
    fn1()
  </script>
</body>
</html>