<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="server">
    <p>{{message}}</p>
<!--    v-text 更新元素的textContent 如果要更新部分的 textContent ，需要使用 {{ Mustache }} 插值。-->
    <ul v-text="a">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
    <h3>v-text渲染的</h3>
    <p v-text="msg"></p>
<!--    更新元素的innerHTML -->
    <h3>v-html渲染的</h3>
    <p v-html="msg"></p>

    <h3>v-model</h3>
    <ol>
        <li>1. .lazy监听change事件</li>
        <li>2. .number 输入字符串转为有效数值</li>
        <li>3. .trim去除首位空格</li>
        <li></li>
    </ol>
    <p>
        .lazy <input type="text" v-model.lazy="player">
    </p>
    <p>{{player}}</p>

    <p class="number">
        .number <input type="text" v-model.number="date">
    </p>
    <p>{{date}}</p>

    <p class="trim">
        .trim <input type="text" v-model.trim="singer">
    </p>
    <p>{{singer}}</p>

    <h3>multiline message</h3>
    <textarea v-model="initialMessage"></textarea>
    <p style="white-space:pre-line">{{initialMessage}}</p>


    <h3>单选题</h3>
    <input type="radio" value="男" v-model="sex" name="sex">男
    <input type="radio" value="女" v-model="sex" name="sex">女
    <p>您的性别是:{{sex}}</p>

    <h3>多选题</h3>
    <input type="checkbox" value="张飞" v-model="actor">张飞
    <input type="checkbox" value="关羽" v-model="actor">关羽
    <input type="checkbox" value="刘备" v-model="actor">刘备
    <input type="checkbox" value="曹操" v-model="actor">曹操
    <input type="checkbox" value="典韦" v-model="actor">典韦
    <input type="checkbox" value="张辽" v-model="actor">张辽
    <input type="checkbox" value="吕布" v-model="actor">吕布
    <p>{{actor}}</p>

    <h3>下拉列表 -- 单选</h3>
    <select v-model="selected">
        <option value="" disabled>请选择</option>
        <option value="lebron">lebron</option>
        <option value="kyrie">kyrie</option>
        <option value="durant">durant</option>
    </select>
    <p>选择的球员是:{{selected}}</p>

    <h3>下拉列表 -- 多选</h3>
    <select v-model="city" multiple size="3">
        <option value="" disabled>请选择</option>
        <option value="北京">北京</option>
        <option value="上海">上海</option>
        <option value="广州">广州</option>
        <option value="深圳">深圳</option>
        <option value="杭州">杭州</option>
    </select>
    <p>选择的城市是：{{city}}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    const vm = new Vue({
        el:'#server',
        data:{
            message:'Hello Vue.js',
            a:'123',
            msg:'<span>春花秋月何时了</span>',
            player:'kyrie',
            date:2019,
            singer:'jay chou',
            initialMessage:'hello world',
            sex:'男',
            actor:['曹操'],
            selected:'lebron',
            city:[]
        },
    })
</script>
</body>
</html>