<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue-3.x</title>
		<style>
			div[v-cloak]{display:none;}
			.box1{width:100px;height:100px;background-color:red;border:1px solid #e8e8e8;text-align:center;}
			.box2{background-color:pink;width:50px;height:50px;text-align:center;}
		</style>
	</head>
	<body>
		<div id="root" v-cloak>
			<button @click.stop="add">{{counter}}</button>
			<button @click.stop="clear_timer">clear timer</button>
			<span :title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息!</span>
		</div>
		<div id="event-handling">
			<p>{{message}}</p>
			<button @click.stop="reverseMessage">反转message</button>
		</div>
		<div id="two-way-binding">
			<input type="text" v-model="message">
			<p>{{message}}</p>
		</div>
		<div id="conditional-rendering">
			<button @click.stop="toggle_show">toggle</button>
			<p v-if="seen">现在你看到我了～</p>
		</div>
		
		<!-- 条件渲染 -->
		<div id="list-rendering">
			<ol>
				<li v-for="(todo,index) in todos" :key="'todo-'+index">{{todo['text']}}</li>
			</ol>
		</div>
		
		<!-- 组件 -->
		<div id="app">
			<ol v-if="todoList.length">
				<todo-item
					v-for="(todo,index) in todoList"
					:key="'todo-'+index"
					:todo="todo"
				></todo-item>
			</ol>
		</div>
		<h2>实例对象</h2>
		<div id="instance">
			{{message}}
		</div>
		<h2>模版语法</h2>
		<div id="demo1">
			<p>{{msg}}</p>
			<p>{{rawHtml}}</p>
			<p>Using v-html directives : <span v-html="rawHtml"></span></p>
			<p>动态绑定html属性: <span v-bind:id="dynamicId">属性为null 或者 undefined的时候 不生效</span></p>
			<p>动态绑定布尔值: <button :disbaled="isButtonDisabled">click</button></p>
			<div>
				<p>JavaScript表达式: {{number+1}}</p>
				<p>{{ok ? 'OK' : 'NO'}}</p>
				<p>{{message.split("").reverse().join("")}}</p>
				<button v-on:[eventname]="hello">{{eventname == 'click' ? 'click' : 'dblclick'}}</button>
			</div>
		</div>
		<h2>Data Property</h2>
		<div id="demo2">
			<button @click.stop="increment">{{count}}</button>
		</div>
		<h2>计算属性和侦听器</h2>
		<div id="demo3">
			<p>Has Published books: <span>{{author.books.length > 0 ? 'Yes' : 'No'}}</span></p>
			<p>计算属性计算的 Has Published books : <span>{{publishedBooksMessage}}</span></p>
			<p>方法计算的 Has Published books : <span>{{getPublishedMessage()}}</span></p>
			<button @click.stop="increment">{{count}}</button>
			<input type="text" v-model="fullName">
			{{fullName}}
			<div>
				watch-example:
				<p>Ask a yes/no question:</p>
				<input type="text" v-model="question">
				<p>{{answer}}</p>
			</div>
		</div>
		<h2>列表渲染</h2>
		<ul id="array-rendering">
			<li v-for="(item,index) in items" :key="item['id']">{{item['text']}}</li>
		</ul>
		<div id="array-with-box">
			<p v-for="(item,index) in items">{{parentMessage}} -- {{index}} -- {{item['text']}}</p>
		</div>
		<ul id="v-for-object">
			<li v-for="(value,key) in object">value:{{value}} -- key:{{key}}</li>
			<li>————————————————————————————————————————————————————</li>
			<li v-for="(value) in array">{{value}}</li>
			<li v-for="(n) in evenNumbers" :key="n">{{n}}</li>
		</ul>
		<div id="todo-list-example">
			<form v-on:submit.prevent="addNewTodo">
				<label for="new-todo">Add a todo</label>
				<input type="text" v-model="todo" placeholder="E.g. Feed the cat">
				<input type="submit" value="Add">
			</form>
			<ul>
				<template v-for="(todo,index) in todo_list">
					<todo-item :todo="todo" @remove="remove(index)"></todo-item>
				</template>
			</ul>
		</div>
		<h2>事件处理</h2>
		<div id="basic-event">
			<button @click="add">{{count}}</button>
			<p>The button above has been clicked {{count}}</p>
		</div>
		<div id="event-with-method">
			<button @click.stop="greet">greet</button>
		</div>
		<div id="inline-handle">
			<button @click.stop="say('hi')">Say hi</button>
			<button @click.stop="say('what')">Say what</button>
			<button @click.stop="one($event), two($event)">绑定多个事件</button>
		</div>
		<div id="modify-event">
			<div class="box1" @click="parent">parent
				<div class="box2" @click.stop="child">child</div>
			</div>
			<form action="/" @submit="onSubmit">
				<input type="submit" value="提交">
			</form>
			<input type="text" @keyup.enter="enter">
		</div>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="./js/introduce.js"></script>
		<script type="text/javascript" src="./js/instance.js"></script>
		<script type="text/javascript" src="./js/template-syntax.js"></script>
		<script type="text/javascript" src="./js/data-property.js"></script>
		<script type="text/javascript" src="./js/computed-watch.js"></script>
		<script type="text/javascript" src="./js/list-render.js"></script>
		<script type="text/javascript" src="./js/bind-event.js"></script>
	</body>
</html>
