.container{
  position:absolute;
  top:40%;
  transform:translateY(-50%);
  width:100vw;
  height:6rem;
  text-align:center;
  .sorry{
    color:#000000;
    font-size:0.45rem;
    line-height:2rem;
  }
  a{
    color:rgb(11,114,172);
    font-size:0.3rem;
  }
}