@mixin bg-image($url){
	background-image:url($url + '@2x.png');
	@media screen (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
		background-image:url($url + '@3x.png');
	}
}

@mixin border-top-1px($color){
	position:relative;
	&:before{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		border:1px solid $color;
	}
	@media screen (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
		transform:translateY(0.7);
		-webkit-transform:translateY(0.7);
	}
	@media screen (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
		transform:translateY(0.5);
		-webkit-transform:translateY(0.5);
	}
}

@mixin text-ellipsis{
	overflow:hidden;
	text-overflow:ellipsis;
	width:100%;
	white-space:nowrap;
}