html,body,ul,ol,p,input,textarea,dl,dd,dt,h1,h2,h3,h4,h5,h6,dl,dd,dt{
	padding: 0;
	margin: 0;
}
html,body,#app{
	width:100%;
	height:100%;
}
body{
	font-size:0.25rem;
	color:#333333;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
table{
	border-collapse:collapse;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	font-size:100%;
}
i,em{
	font-style:normal;
}
img{
	display:block;
	width:100%;
	height:100%;
}
input,button{
	outline:none;
	border:none;
}
#main{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
	flex-direction:column;
	background-color:#f5f5f5;
}