.grid-demo {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  width: 400px;
  column-gap: 4px;
  row-gap: 4px;
}
.grid-demo .item {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}
