<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue</title>
  <style>
    .parent{
      width: 100px;
      height: 100px;
      background-color: pink;
    }
    .child {
      width: 50px;
      height: 50px;
      background-color: skyblue;
    }
    button{outline: none;}
    button.primary{ background-color:#1890ff; color:#fff;}
    button.danger{background-color:red; color:#fff;}
    .input-wrapper {
      height: 30px;
      width: 300px;
    }
    .input-wrapper .input{ border:none; outline:none; height:100%; width: 100%; }
    .dialog-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .45);
    }
    .dialog-wrapper .layout-container{
      width: 1000px; height:100%; background-color:#fff;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    .dialog-wrapper .dialog-header{padding-left: 20px;border-bottom: 1px solid #e8e8e8; height: 50px; line-height: 50px;}
    /* transition */
/*     .v-enter-active,.v-leave-active{transition: opacity 2.5s ease;}
    .v-enter-from, .v-leave-to{opacity: 0} */
    /* slide-transition */
    .slide-enter-active, .slide-leave-active{transition: transform .4s;}
    .slide-enter-from, .slide-leave-to{transform: translateX(100px);}
    /* fade */
    .fade-enter-active {transition:all .3s ease-out;}
    .fade-leave-active {transition:all .8s cubic-bezier(1, 0.5, 0.8, 1);}
    .fade-enter-from, .fade-leave-to{transform: translateX(20px); opacity:0;}
    /* debounce */
    .debounce-enter-active{
      animation: debounce-in .5s;
    }
    .debounce-leave-active{ animation: debounce-in .5s reverse}
    @keyframes debounce-in {
      0% {
        transform: scale(0)
      }
      50% {
        transform: scale(1.25)
      }
      100% {
        transform: scale(1)
      }
    }
    @keyframes move {
      0% {
        transform: rotate(0deg)
      }
      50% {
        transform: rotate(180deg)
      }
      100% {
        transform: rotate(360deg)
      }
    }
    .hello-enter-active, .hello-leave-active{
      transition: opacity .3s;
    }
    .hello-enter-active {
      animation: move .8s;
    }
    .hello-leave-active {
      animation: move .8s reverse;
    }
    .hello-enter-from, .hello-leave-to{
      opacity: 0;
    }
    /* 嵌套的 */
    .nested-enter-active .inner,
    .nested-leave-active .inner{
      transition:all .5s ease-in-out;
    }
    .nested-enter-from .inner,
    .nested-leave-to .inner {
      transform: translateX(50px);
      opacity: 0;
    }
    /* 可复用的动画 */
    .my-transition-enter-active, .my-transition-leave-active{
      transition: all .4s;
    }
    .my-transition-enter-from, .my-transition-leave-to{
      opacity:0;
      transform: translateX(100px);
    }
</style>
</head>
<body>
  <div id="first-app">
    <button @click.stop="click">click {{count}} times</button>
  </div>
  <hr>
  <!-- 模板语法 -->
  <div id="mustache-app">
    <div>{{message}}</div>
    <div v-text="raw_html"></div>
    <div v-html="raw_html"></div>
    <div>{{raw_html}}</div>
    <div :id="undefinedAttributeId">undefinedAttributeId</div>
    <div :id="nullAttributeId">nullAttributeId</div>
    <div :id="numberAttributeId">numberAttributeId</div>
    <div :id="stringAttributeId">stringAttributeId</div>
    <div :id="emptyStringAttribute">emptyStringAttribute</div>
    <!-- 使用symbol报错 -->
    <!-- <div :id='symbolAttributeId'>symbolAttributeId</div> -->
    <button :disbaled="emptyStringDisabled">empty string</button>
    <button :disbaled="falseDisabled">false string</button>
    <button :disbaled="trueDisabled">true string</button>
    <!-- 绑定多个属性 -->
    <div v-bind='attrObject'></div>
    <!-- js表达式 -->
    <div>表达式 number + 1 {{ number + 1 }}</div>
    <div>三目运算  ok ? 'yes' : 'no' {{ ok ? 'YES' : 'OK' }}</div>
    <div>message.split('').reverse().join('') {{message.split('').reverse().join('')}}</div>
    <div :id="`list-${id}`"></div>
    <!-- 属性 和 模版绑定方法 -->
    <div :title="getDate()"></div>
    <div>{{getTimeStamp()}}</div>
    <!-- 指令 -->
    <div v-if="seen">You can see me</div>
    <!-- 动态参数 -->
    <a v-bind:[attribute]="url">百度</a>
    <div v-bind:[complex_attribute]="url">复杂动态属性</div>
  </div>
  <hr>
  <div id="computed-app">
    <div>{{author.books.join('')}}</div>
    <div>Has publiched books: {{author.books.length ? 'Yes' : 'No'}} - {{publishedBooksMessage}}</div>
    <div>{{bookMessageMethod()}}</div>
    <button @click.stop="increment">{{count}} -- {{now}}</button>
    <!-- getter setter -->
    <div>
      <input type="text" placeholder="firstName" v-model="firstName"><span>{{firstName}}</span>
    </div>
    <div>
      <input type="text" placeholder="lastName" v-model="lastName"><span>{{lastName}}</span>
    </div>
    <div>
      <input type="text" v-model="fullName">
    </div>
  </div>
  <hr>
  <div id="style-class-app">
    <div :class="{ active: isActive }">Hello World</div>
    <div :class="classObject">class object</div>
    <div :class="computedClassObject">computed class object</div>
    <div :class="classArray">class array</div>
    <div :class="classArrayObject">数组嵌套对象</div>
    <!-- 在组件上使用 -->
    <todo-list class="hello" :class="classArray"></todo-list>
    <!-- 绑定样式 -->
    <style-component></style-component>
  </div>
  <hr>
  <div id="condition-app">
    <div v-if="awesome">Vue is awesome!</div>
    <div v-if="!awesome">Vue is awesome</div>
    <div v-else>Hello, you can see me!!!</div>
    <template v-if="show">
      <div>Hello World</div>
      <div>你好 世界</div>
      <div>我在学习 Vue!</div>
    </template>
    <div v-show="visible">I am v-show</div>
    <div v-show="!visible">False</div>
  </div>
  <hr>
  <div id="list-render-app">
    <ul>
      <li v-for="item in message_list" :key="item">{{item.message}}</li>
    </ul>
    <!-- 解构 -->
    <ul>
      <li v-for="({text, id}) in todo_list" :key="id">{{text}}</li>
    </ul>
    <!-- 遍历对象 -->
    <div v-for="(value, key, index) in player">{{value}} - {{key}} - {{index}}</div>
    <!-- 遍历一个整数 -->
    <div v-for="n in 10" :key="n">{{n}}</div>
    <!-- 传递key -->
    <button @click.stop="toggle">toggle</button>
    <ul>
      <li v-for="(todo, i) in todo_list" :data-id="i">{{todo.text}}</li>
    </ul>
    <ul>
      <li v-for="(todo, i) in todo_list" :key="i" :data-id="i">{{todo.text}}</li>
    </ul>
    <ul>
      <li v-for="(todo, i) in todo_list" :key="todo.id" :data-id="i">{{todo.text}}</li>
    </ul>
    <ul>
      <todo-item v-for="todo in todo_list" :key="todo.id" :item="todo"></todo-item>
    </ul>
  </div>
  <hr>
  <div id="method-app">
    <button @click="count++">{{count}}</button>
    <button @click.stop="getName">click</button>
    <button @click="say('hello')">say</button>
    <button @click="say('world')">say</button>
    <!-- 访问event参数 -->
    <button @click="getEvent('message', $event)">click</button>
    <!-- 事件修饰符 -->
    <ul @click="ulClick">
      <li
        v-for="player in playerList"
        :key="player.id"
        @click.stop="playerClick(player)"
        >{{player.firstName}} - {{player.lastName}}</li>
    </ul>
    <a @click.prevent="jump" href="http://www.baidu.com">百度</a>
    <div class="parent" @click.self="parentClick">
      <div class="child" @click="childClick"></div>
    </div>
    <!-- enter -->
    <input type="text" v-model="message" @keyup.enter="search">
    <div @click.ctrl="tab" class="parent"></div>
    <button @click.alt="tab">ctrl</button>
  </div>
  <hr>
  <div id="form-app">
    <div>
      <input type="text" :value="text" @input="event => text = event.target.value"> {{text}}
    </div>
    <!-- input -->
    <input type="text" v-model="message"> {{message}}
    <div>
      <textarea v-model="textarea"></textarea>
    </div>
    <!-- checkbox -->
    <input type="checkbox" v-model="checked"> {{checked}}
    <div v-for="player in players" :key="player.id">
      <input type="checkbox" v-model="checkedPlayer" :value="player.id" :id="'player-'+player.id">
      <label :for="'player-'+player.id">{{player.firstName}} - {{player.lastName}}</label>
    </div>
    <div>{{checkedPlayer}}</div>
    <!-- radio -->
    <div v-for="player in players" :key="player.id">
      <input type="radio" v-model="radioPlayer" :value="player.id" :id="'p-' + player.id">
      <label :for="'p-'+player.id">{{player.firstName}} - {{player.lastName}}</label>
    </div>
    <div>{{radioPlayer}}</div>
    <!-- select -->
    <select v-model="selectedPlayer">
      <option :value="0" disabled>select player</option>
      <option :value="player.id" v-for="player in players" :key="player.id">{{player.firstName}} - {{player.lastName}}</option>
    </select>
    <div>{{selectedPlayer}}</div>
    <!--  true value / false value -->
    <input type="checkbox" v-model="toggle" true-value="yes" false-value="no"> {{toggle}}
    <div>
      <input type="checkbox" v-model="dynamicToggle" :true-value="dynamicTrueValue" :false-value="dynamicFalseValue">
      {{dynamicToggle}}
    </div>
    <!-- radio -->
    <input type="radio" v-model="sex" :value="1">男
    <input type="radio" v-model="sex" :value="2">女
    <div>{{sex}}</div>
    <!-- 修饰符 -->
    <input type="text" v-model.lazy="lazyMessage"> {{lazyMessage}}
    <div>
      <input type="text" v-model.number="age"> {{age}} {{ typeof age }}
    </div>
  </div>
  <hr>
  <div id="life-cycle-app">
    <button @click="increment">{{count}}</button>
  </div>
  <div id="watch-app">
    <input type="text" v-model="question">
    <div>{{answer}}</div>
    <div>
      <input type="text" v-model="player.firstName">
      <input type="text" v-model="singer.firstName">
    </div>
  </div>
  <hr>
  <div id="ref-app">
    <input type="text" ref="input">
    <button @click="count++">click {{count}} times</button>
    <button @click="child_click">child - click</button>
    <ul>
      <li v-for="item in items" :key="item" ref="items">{{item}}</li>
      <li v-for="item in items" :key="item" :ref="getItem">{{item}}</li>
    </ul>
    <child-component ref="child"></child-component>
  </div>
  <hr>
  <div id="component-app">
    <button-component></button-component>
    <button-component></button-component>
    <button-component></button-component>
    <div :style="{fontSize: `${fontSize}rem`}">
      <blog-post
        v-for="blog in blog_list" :key="blog.id" :title="blog.title"
        @enlarge="large"
      ></blog-post>
    </div>
    <!-- 插槽 -->
    <alert-box>
      Something bad happend
    </alert-box>
    <!-- 动态组件 -->
    <button @click.stop="tab_component = 'player'">player</button>
    <button @click.stop="tab_component = 'singer'">singer</button>
    <component :is="tab_component"></component>
    <child-component></child-component>
  </div>
  <hr>
  <div id="props-app">
    <message-component :message="message"></message-component>
    <message-component message="你好 生活 ！"></message-component>
    <message-component :message="1234567"></message-component>
    <is-published :is-published="false"></is-published>
    <is-published :is-published="true"></is-published>
    <player :list="player_list"></player>
    <blog-post :author="{name: '京东', company: '刘强东'}"></blog-post>
    <!-- 直接传递一个对象 -->
    <computer-app v-bind="computer"></computer-app>
    <!-- initial-count -->
    <counter :count="2"></counter>
    <counter :count="3"></counter>
    <!-- computed -->
    <uppercase-component message="hello world"></uppercase-component>
    <button-component type="primary"></button-component>
    <button-component type="danger"></button-component>
    <!-- function -->
    <function-component :number="number" :increment="increment"></function-component>
  </div>
  <hr>
  <div id="component-event-app">
    {{count}}
    <child-component @increment="increment" @increment_async="increment_async"></child-component>
    <button @click.once="click_once">click once</button>
    <son-component @increment="increment_with_message" @add="add_with_message"></son-component>
    <!-- validate emit -->
    <validate-event-component @validate="validate" @validate_player="validate_player"></validate-event-component>
    <search-input v-model="message"></search-input>
    <div>{{message}}</div>
    <custom-input v-model="message"></custom-input>
    <user-name
      v-model:first-name="first_name"
      v-model:last-name="last_name"
    ></user-name>
    <span>{{first_name}}</span>
    <span>{{last_name}}</span>
    <!-- 自定义修饰符 -->
    <div>
      <capitalize-input v-model.capitalize="message"></capitalize-input>
      <title-component v-model:title.capitalize="message"></title-component>
    </div>
  </div>
  <hr>
  <div id="attrs-app">
    <primary-button class="primary-button" @click="increment"></primary-button>
    <!-- 深层继承 -->
    <parent-component class="hello"></parent-component>
    <!-- 禁用自动传递 -->
    <user-component id="123" class="456" :style="{fontSize: '20px'}"></user-component>
    <multiple-root-component id="123" class="456"></multiple-root-component>
  </div>
  <hr>
  <div id="slot-app">
    <fancy-button>Primary Button</fancy-button>
    <fancy-button></fancy-button>
    <!-- 插槽的作用域 -->
    <fancy-button>{{message}}</fancy-button>
    <!-- 具名插槽 -->
    <layout-component>
      <template v-slot:header>我是头部</template>
      <template v-slot:main>我是身体</template>
      <template v-slot:footer>我是底部</template>
    </layout-component>
    <button @click.stop="visible = !visible">toggle</button>
    <div class="dialog-wrapper" v-if="visible">
      <layout-component>
        <template #header><div class="dialog-header">具名插槽</div></template>
        <template #main>我是身体</template>
        <template #footer>我是底部</template>
      </layout-component>
    </div>
    <!-- 作用域插槽 -->
    <greet-component v-slot="{message, count}">
      <div>{{message}} --- {{count}}</div>
    </greet-component>
    <data-slot v-slot="{players}" :count="123">
      <ul>
        <li v-for="player in players" :key="player">{{player}}</li>
      </ul>
    </data-slot>
    <!-- 动态 -->
    <name-data-slot>
      <template #header="{count}"><div>count --- {{count}}</div></template>
      <template #footer="{message}"><div>message --- {{message}}</div></template>
    </name-data-slot>
    <mouse-tracker v-slot="{x, y}">
      <div>{{x}} - {{y}}</div>
    </mouse-tracker>
  </div>
  <div id="inject-app">
    <child-component></child-component>
  </div>
  <hr>
  <div id="setup-app">
    <div>Mouse position: {{x}} {{y}}</div>
    <button ref='button'>click</button>
    <div>
      <template v-if="loading">Loading...</template>
      <template v-else>
        <div v-if="error">{{error}}</div>
        <div v-else>{{data}}</div>
      </template>
    </div>
    <button @click="increment">increment {{counter}}</button>
    <!-- 异步hooks -->
    <template v-if="spinning"><div>Spinning...</div></template>
    <template v-else>
      <ul>
        <li v-for="player in players" :key="player.firstName">{{player.firstName}} --- {{player.lastName}}</li>
      </ul>
    </template>
    <div>multiple: {{async_multiple_counter}}</div>
  </div>
  <hr>
  <div id="directive-app">
    <input type="text" v-focus>
    <button @click="increment" :data-count="count">click {{count}}</button>
    <input type="text" v-example:foo.bar.baz="200">
    <div>{{upperCase('hello world')}}</div>
  </div>
  <hr>
  <div id="transition-app">
    <button @click="show_visible = !show_visible">toggle show</button>
    <button @click="if_visible = !if_visible">toggle if</button>
    <button @click.stop="toggle_component">toggle component</button>
    <Transition>
      <div v-show="show_visible">v-show</div>
    </Transition>
    <transition>
      <div v-if="if_visible">Hello, 我是v-if动画</div>
    </transition>
    <transition>
      <component :is="tab"></component>
    </transition>
    <!-- 切换其他属性 -->
    <div>
      <button @click.stop="toggle_slide">click</button>
      <transition name="slide">
        <div style="width: 200px; height:30px; background-color: pink;" v-if="slide_visible"></div>
      </transition>
    </div>
    <div>
      <button @click.stop="fade_visible = !fade_visible">toggle fade</button>
      <transition name="fade">
        <div v-if="fade_visible">Hello World!</div>
      </transition>
    </div>
    <!-- animation -->
    <div>
      <button @click="animation_visible = !animation_visible">toggle animation</button>
      <transition name="debounce">
        <div v-if="animation_visible" style="text-align: center;">Hello here is some bouncy text!</div>
      </transition>
    </div>
  </div>
  <!-- 有两个动画 -->
  <div id="transition-animation-app">
    <button @click="visible = !visible">toggle</button>
    <transition name="hello" type="animation">
      <div v-if="visible" style="display: inline-block;">我是复合类型动画。。。</div>
    </transition>
    <button @click="inner_visible = !inner_visible">toggle nested</button>
    <transition name="nested" :duration="550">
      <div v-if="inner_visible" class="outer">
        <div class="inner">Hello World!!!</div>
      </div>
    </transition>
  </div>
  <!-- js-transition hook -->
  <div id="transition-hook-app">
    <button @click.stop="visible = !visible">toggle</button>
    <transition
      @before-enter="before_enter"
      @enter="enter"
      @after-enter="after_enter"
      @enter-cancelled="enter_cancelled"
      @before-leave="before_leave"
      @leave="leave"
      @after-leave="after_leave"
      @leave-cancelled="leave_cancelled"
    >
      <div v-if="visible" :class="false">Hello World! --- 你好生活!</div>
    </transition>
  </div>
  <hr>
  <!-- 复用 -->
  <div id="transition-slot-app">
    <button @click="visible_1 = !visible_1">click me</button>
    <button @click="visible_2 = !visible_2">点击我</button>
    <transition-component>
      <div v-if="visible_1">你好生活</div>
    </transition-component>
    <transition-component>
      <div v-if="visible_2">Say Hello To Life</div>
    </transition-component>
  </div>
  <hr>
  <div id="keep-alive-app">
    <button @click.stop="toggle_component">toggle component</button>
    <!-- 使用include 显示地分配一个name -->
    <keep-alive>
      <component :is="active"></component>
    </keep-alive>
  </div>
  <hr>
  <div id="modal-app"></div>
  <div id="teleport-app">
    <button @click.stop="visible = true">open dialog</button>
    <template v-if="visible">
      <teleport to="body">
        <div class="dialog-wrapper">
          <div class="dialog-container"></div>
        </div>
      </teleport>
    </template>
    <button @click.stop="modal_visible = true">insert one modal</button>
    <template v-if="modal_visible">
      <teleport to="#modal-app"><singer-modal></singer-modal></teleport>
      <teleport to="#modal-app"><player-modal></singer-modal></teleport>
    </template>
  </div>
  <hr>
  <div id="router-app">
    <a href="#home">home</a>
    <a href="#about">about</a>
    <component :is="component_view"></component>
  </div>
  <hr>
  <div id="store-app">
    <button @click="click">click</button>
    <component-a></component-a>
    <component-b></component-b>
  </div>
  <hr>
  <div id="api-app">
    <button>{{count}}</button>
    <div>{{player}}</div>
    <provide-inject-component></provide-inject-component>
    <input type="text" v-focus>
    <counter-component></counter-component>
    <hr>
    <setup-child-component :parent_count="parent_count" title="hello world"></setup-child-component>
    <button @click="handle_click">click counter button</button>
    <counter-button ref="counter_button"></counter-button>
  </div>
  <hr>
  <div id="setup-api-app">
    <button @click="increment">{{count}} --- {{double}} ---- {{tribble}}</button>
    <ul>
      <li v-for='(value, key) in player'>{{key}}-{{value}}</li>
    </ul>
  </div>
  <script src="../src/vue.development-3.js"></script>
  <script>
    const { createApp, watchEffect, provide, inject, toRefs, h, toRef, ref, onUnmounted, reactive, computed, watch, nextTick, onMounted } = Vue
  </script>
  <script src="./src/01-first-app.js"></script>
  <script src="./src/02-mustache.js"></script>
  <script src="./src/03-computed.js"></script>
  <script src="./src/04-style-class.js"></script>
  <script src="./src/05-condition.js"></script>
  <script src="./src/06-list-render.js"></script>
  <script src="./src/07-method.js"></script>
  <script src="./src/08-form.js"></script>
  <script src="./src/09-life-cycle.js"></script>
  <script src="./src/10-watch.js"></script>
  <script src="./src/11-ref.js"></script>
  <script src="./src/12-component.js"></script>
  <script src="./src/13-props.js"></script>
  <script src="./src/14-component-event.js"></script>
  <script src="./src/15-attrs.js"></script>
  <script src="./src/16-slot.js"></script>
  <script src="./src/17-inject.js"></script>
  <script src="./src/18-setup.js"></script>
  <script src="./src/19-directive.js"></script>
  <script src="./src/20-transition.js"></script>
  <script src="./src/21-keep-alive.js"></script>
  <script src="./src/22-teleport.js"></script>
  <script src="./src/23-router.js"></script>
  <script src="./src/24-store.js"></script>
  <script src="./src/25-api.js"></script>
  <script src="./src/26-setup-api.js"></script>
</body>
</html>