<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户下单</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h3>手机号为<%=tel%>的用户下单商品</h3>
    <p><%=food%></p>
    <a href="/">点我返回首页</a>
</div>
</body>
</html>
