<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>所有订单</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h3>所有用户订单</h3>
    <ul>
        <%for(let i = 0; i < fileList.length; i++){%>
            <li>手机号:<a href="/all/<%=fileList[i]%>"><%=fileList[i]%></a> 的用户已下单</li>
        <%}%>
    </ul>
</div>
</body>
</html>
