@mixin bg-image($url){
	background-image:url($url+"@2x.png");
	@media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3){
		background-image:url($url+"@3x.png");
	}
}

@mixin border-bottom-1px($color){
	position:relative;
	&:after{
		content:"";
		width:100%;
		position:absolute;
		left:0;
		bottom:0;
		border-top:1px solid $color;
	}
	@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
		&:after{
			transform:scaleY(0.7);
			-webkit-transform:scaleY(0.7);
		}
	}
	@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
		&:after{
			transform:scaleY(0.5);
			-webkit-transform:scaleY(0.5);
		}
	}
}

@mixin border-top-1px($color){
	&:before{
		content:"";
		position:absolute;
		width:100%;
		top:0;
		left:0;
		border-top:1px solid $color;
	}
	@media (-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5){
		&:before{
			transform:translateY(0.7);
			-webkit-transform:translateY(0.7);
		}
	}
	@media (-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){
		&:before{
			transform:translateY(0.5);
			-webkit-transform:translateY(0.5);
		}
	}
}


@mixin border-none{
	&:after{
		border:none;
	}
}