<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>组件基础</title>
	</head>
	<body>
		<div id="server">
			<button-counter></button-counter>
			<button-counter></button-counter>
			<button-counter></button-counter>
			<player title="My Journey with Vue"></player>
			<player title="Blogging with Vue"></player>
			<player title="Why Vue is so fun"></player>
			<!-- 在父级组件上自定义一个事件，然后在自组件触发 -->
			<div :style="{fontSize:postFontSize + 'em'}">
				<blog-post 
					v-for="(item,index) in posts" 
					:key="index" 
					:title="item.title"
					:num="item.id"
					@enlarge-text="onEnlargeText"
				></blog-post>
			</div>
		</div>
		<div id="demo">
			<welcome-button v-on:welcome="sayHi"></welcome-button>
			<input type="text" v-model="msg">
			<p>{{msg}}</p>
			<p><input type="text" 
			v-bind:value="searchText"
			v-on:input="searchText = $event.target.value"
			></p>
			<p>{{searchText}}</p>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			// 注册组件,组件是可复用的Vue实例,且带有一个名字,每用一次组件,就会有一个它的新实例被创建
			Vue.component('button-counter',{
				template:"<button @click='changeCount'>click me {{count}} times</button>",
				data(){
					return {
						count: 0
					}
				},
				methods:{
					changeCount(){
						this.count++;
					}
				}
			});
			
			Vue.component('player',{
				props:["title"],
				template:'<h3>{{title}}</h3>'
			});
			
			Vue.component('blog-post',{
				props:["title","num"],
				template:`
				<div class="post-item">
					<p>{{num}}</p>
					<button v-on:click="$emit('enlarge-text',0.1)">Enlarge text</button>
					<h4>{{title}}</h4>
				</div>
				`,
			});
			
			new Vue({
				el:document.getElementById("server"),
				data:{
					posts:[
						{id:1,title:"My journey with Vue"},
						{id:2,title:"Blogging with Vue"},
						{id:3,title:"Why Vue is so fun"}
					],
					postFontSize:1,
				},
				methods:{
					onEnlargeText(data){
						console.log(data);
						this.postFontSize += .1
					}
				}
			});
			
			// $emit   $emit(eventName,[...args]);
			Vue.component('welcome-button',{
				template:`
				<button @click="$emit('welcome')">click me to be welcomed</button>
				`
			});
			
			new Vue({
				el:document.getElementById("demo"),
				data:{
					msg:"Hello",
					searchText:"World"
				},
				methods:{
					sayHi(){
						console.log("hi");
					}
				}
			});
		</script>
	</body>
</html>
