<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>父组件给子组件传递数据-Props</title>
	</head>
	<h3>注册一个全局组件并复用</h3>
	<div id="root">
		<my-component></my-component>
		<my-component></my-component>
		<my-component></my-component>
	</div>
	<h3>组件里的data必须时函数,如果返回的对象是对外部对象的引用,那么这个对象是共享的</h3>
	<div id="app">
		<new-component></new-component>
		<new-component></new-component>
		<new-component></new-component>
	</div>
	<h3>使用props给子组件传递数据</h3>
	<div id="father">
		<!--  短横线命名 -->
		<p>传入一个静态的数据</p>
		<blog-post post-title="hello!"></blog-post>
		<blog-post message="[1,2,3]"></blog-post>
		<p>传入动态的数据</p>
		<input type="text" v-model="msg">
		<blog-post v-bind:post-title="msg"></blog-post>
	</div>
	<div id="demo">
		<p>tips: 如果传递数字,布尔值,数组,对象而不是用v-bind,传递的仅仅是字符串</p>
		<a-component
			:info="[1,2,3]"
			message="[1,2,3]"
		></a-component>
		<p>传入数字,字符串和数组,即使数组,字符串和数字是静态的,也需要通过v-bind来绑定</p>
		<b-component
			:likes="42"
			:is-published="true"
			:comment-id="[32,21,20]"
		></b-component>
		<o-component
			:author="{name:'kyrie',age:'20'}"
		>
		</o-component>
		<h4>两种常见的改变props的情形:</h4>
		<p>一： 用Prop传递一个初始值,这个子组件希望其作为一个本地的Prop数据来使用</p>
		<c-component
			:initial-counter="5"
		></c-component>
		<p>二: prop以一种原始的值传入且需要进行转换</p>
		<d-component
			:size="100"
		>
		</d-component>
		<p>请输入大写字母的单词</p>
		<input type="text" v-model="message">
		<e-component
			:title="message"
		></e-component>
	</div>
	<div id="propType">
		<p>请输入姓名(string),年龄(number),是否结婚(boolean)</p>
		<input type="text" placeholder='请输入姓名' v-model="name">
		<input type="text" placeholder="请输入年龄" v-model.number="age">
		<input type="text" placeholder="是否结婚" v-model="isMarried">
		<h-component
			:name="name"
			:age="age"
			:is-married="isMarried"
		>
		</h-component>
	</div>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			//  注册全局组件
			Vue.component("my-component",{
				template:'<div><p>Hello,我是父组件</p></div>'
			});
			const vm = new Vue({
				el:document.getElementById("root")
			});
			
			let data = {
				count:0
			}
			Vue.component("new-component",{
				template:"<div><button @click='handleClick'>{{count}}</button></div>",
				data(){
					return data;
				},
				methods:{
					handleClick(){
						this.count++;
					}
				}
			});
			new Vue({
				el:document.getElementById("app"),
			});
			
			Vue.component('blog-post',{
				template:"<div><p style='color:red'>我是博客 {{postTitle}} {{message}}</p></div>",
				props:["postTitle","message","msg"]
			})
			new Vue({
				el:document.getElementById("father"),
				data:{
					msg:"我是动态传入的标题"
				}
			});
			
			Vue.component("a-component",{
				template:'<div><p>数组的长度:{{info.length}}</p></div>',
				props:["info","message","likes"]
			});
			Vue.component('b-component',{
				props:["likes","isPublished","commentId"],
				template:"<div><p>点赞数:{{likes}}--是否出版:{{isPublished}}--评论ID:{{commentId}}</p></div>"
			});
			Vue.component("o-component",{
				props:["author"],
				template:"<div><p>关于作者--name:{{author.name}},age:{{author.age}}</p></div>"
			});
			Vue.component("c-component",{
				template:"<div><button @click='handleClick'>+1</button><p>{{count}}</p></div>",
				props:["initialCounter"],
				data(){
					return{
						count:this.initialCounter
					}
				},
				methods:{
					handleClick(){
						this.count++;
					}
				}
			});
			
			Vue.component("d-component",{
				template:'<div><p :style="style">Hello Vue.js</p><button @click="handleOutput">点击</button></div>',
				props:["size"],
				computed:{
					widthStyle(){
						return this.size
					}
				},
				data(){
					return{
						style:{
							height:"100px",
							backgroundColor:"pink"
						}
					}
				},
				methods:{
					handleOutput(){
						console.log(this);
					}
				}
			});
			
			Vue.component("e-component",{
				template:"<div><p>{{upperSize}}</p></div>",
				props:["title"],
				computed:{
					upperSize(){
						return this.title.toLocaleUpperCase();
					}
				}
			})
			
			const vm1 = new Vue({
				el:document.getElementById("demo"),
				data:{
					message:""
				}
			});
			
			Vue.component("h-component",{
				template:"<div><h3>prop验证</h3></div>",
				props:{
					name:String,
					age:{
						type:Number,
						default:0
					},
					isMarried:{
						type:Boolean,
						default:true
					},
				}
			});
			
			new Vue({
				el:document.getElementById("propType"),
				data:{
					name:"",
					age:0,
					isMarried:false
				}
			})
		</script>
	</body>
</html>
