body,ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dd,dt,input,textarea,table{
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration:none;
}
input{
    border:0;
    outline:none;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
}
em,i{
    font-style:normal;
}
/*清除浮动*/
.clear-fx:after{
    content:"";
    display:block;
    clear:both;
}
/*清除margin塌陷*/
.clear-margin:before{
    content:"";
    display:block;
    overflow:hidden;
}