<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue</title>
  <style>
    .box1{
      width:100px;
      height:100px;
      background-color:red;
    }
    .box2{
      width:50px;
      height:50px;
      background-color:green;
    }
  </style>
</head>
<body>
  <h3>get-start</h3>
  <div id="getting-start">
    {{counter}}
  </div>
  <!-- 属性绑定 -->
  <div id="bind-attribute">
    <span v-bind:title='message'>鼠标悬停</span>
  </div>
  <!-- 时间绑定 -->
  <div id="event-handling">
    {{message}}
    <button v-on:click='reverse_message'>click</button>
  </div>
  <!-- input表单 -->
  <div id="two-way-binding">
    <input type="text" v-model='message'>
    <p>{{message}}</p>
  </div>
  <!-- 条件判断 -->
  <div id="conditional-rendering">
    <button @click='toggle'>click</button>
    <div v-if='visible'>现在你看到我了</div>
  </div>
  <!-- 循环 -->
  <div id="list-rendering">
    <ol>
      <li v-for="todo in todos">{{todo.text}}</li>
    </ol>
  </div>
  <!-- 组件 -->
  <div id="app">
    <p>{{message}}</p>
    <todo-item></todo-item>
  </div>
  <!-- 组件穿传参数 -->
  <div id="list-app">
    <todo-item v-for="todo in todos" :todo='todo'></todo-item>
  </div>
  <hr>
  <h3>模版语法</h3>
<!-- ------------------------模版语法------------------------- -->
<h6>模版语法</h6>
  <div id="mustaches">
    <p>Using mustaches: {{rawHtml}}</p>
    <p>Using v-html directive <span v-html="rawHtml"></span></p>
  </div>
  <h6>绑定属性 和 属性为布尔值时的属性</h6>
  <div id="dynamicId">
    <p v-bind:id='dynamicId'>dynamicId: {{dynamicId}}</p>
    <p v-bind:class='undefinedClass'>undefined: {{undefinedClass}}</p>
    <p v-bind:class='nullClass'>null: {{nullClass}}</p>
    <p v-bind:class='emptyClass'>empty string</p>
  </div>
  <div id="truthy-app">
    <button :disabled='isButtonDisabled'>click me</button>
    <button :disabled="empty">empty string</button>
    <button :disabled='isDisabled1'>boolean</button>
    <button :disabled='isDisabled2'>string</button>
    <button :disabled='isDisabled3'>number</button>
    <button :disabled='isDisabled4'>null</button>
    <button :disabled='isDisabled5'>undefined</button>
  </div>
  <h6>javascript表达式</h6>
  <div id="js-expression">
    <p>number + 1 --------- {{number + 1}}</p>
    <div> {{ok ? 'ok' : 'cancel'}}</div>
    <div>message.split(" ").reverse().join(" ") -------- {{message.split(" ").reverse().join(" ")}}</div>
    <div :id="'last-'+number">bind-id</div>
  </div>

  <h6>指令</h6>
  <div id="directive-app">
    <p v-if='seen'>now you see me</p>
    <button @click.stop='changeHandler("click")'>click</button>
    <button @click.stop='changeHandler("mouseover")'>mouseover</button>
    <button @click.stop='changeHandler("dblclick")'>dblclick</button>
    <div>
      <div v-on:[name]='emitHandler' style="width:80px;height:80px;background:red;font-size:12px;cursor:pointer;">动态事件参数,默认click触发</div>
    </div>
    <button v-bind:date='new Date().getTime()'>timestamp-button</button>
    <button :disabled='null'>null attribute button</button>
  </div>
  <hr>
  <h6>计算属性和侦听器</h6>
  <div id="computed-basic">
    <p>Has published books:</p>
    <div>{{author.books.length > 0 ? 'Yes': 'No'}}</div>
    <div>使用计算属性: {{publishedBooksMessage}}</div>
    <div>使用方法: {{calcPublishedBooksMessage()}}</div>
    <button @click.stop='increment'>{{count}}</button>
  </div>
  <h6>computed-getter</h6>

  <div id="computed-getter">
    <p>{{firstName}} - {{lastName}}</p>
    <input type="text" v-model='fullName'>
  </div>
  <hr>
  <h6>style/class</h6>
  <div id="class-app">
    <div :class='{active:isActive}'>hello</div>
    <div class='static' :class='{active:isActive,"text-danger":hasError}'>多个class</div>
    <div :class='classObject'>class-object</div>
    <div :class='classMap'>class-computed</div>
    <div>数组语法</div>
    <div :class='[activeClass,errorClass]'>class-array</div>
    <!-- 组件上添加class -->
    <player-component class='component-class'></player-component>
    <my-component class='baz'></my-component>
  </div>

  <div id="style-app">
    <div :style='{color:activeColor,fontSize:fontSize + "px"}'>hello style</div>
    <div :style="[baseStyles,overridingStyles]">array-style</div>
  </div>
  <button class='button'>click</button>
  <div class='text'></div>
  <hr>
  <h6>v-for列表循环</h6>
  <div id="foo-app">
    <!-- for ... in -->
    <ul>
      <li v-for='(item,i) in list' :key='i'>{{item.message}}</li>
    </ul>
    <!-- for ... of  -->
    <ol>
      <li v-for='(item) of list'>{{item.message}}</li>
    </ol>
    <ul>
      <li v-for='(value,key) of author'>{{key}} - {{value}}</li>
    </ul>
    <!-- v-if的优先级 比 v-for更高 ,无法读取v-for里的变量 -->
    <ol>
      <!-- <li v-for='todo in items' v-if='todo.completed'>{{todo.text}}</li> -->
    </ol>
    <ol>
      <template v-for='todo in items' :key='todo.text'>
        <li v-if='todo.completed'>
          {{todo.text}}
        </li>
      </template>
    </ol>
  </div>

  <div id='todo-list-app'>
    <input type="text" v-model='todo' placeholder='E.g.Feed the cat'>
    <button @click.stop='add_todo'>add</button>
    <ul>
      <todo-item v-for="(todo,i) in todos" :todo='todo'></todo-item>
    </ul>
  </div>
  <h6>元素复用</h6>
  <div id="key-app">
    <template v-if='type==="username"'>
      <label>用户名:</label>
      <input type="text" placeholder='用户名'>
    </template>
    <template v-else>
      <label>邮箱</label>
      <input type="text" placeholder='邮箱'>
    </template>
    <button @click.stop='toggle'>toggle</button>
  </div>
  <hr>
  <h6>mini-vue</h6>
  <div id="my-vue-app">
    <p>{{message}}</p>
    <div>{{count}}</div>
  </div>
  <h6>事件绑定</h6>

  <div id="basic-event">
    <button @click='counter += 1'>click me {{counter}} times</button>
    <button @click='greet'>greet</button>
  </div>
  <!-- 内联事件 传递参数  -->
  <div id="inline-handler">
    <button @click='say("hi")'>Say hi</button>
    <button @click='say("hello")'>Say hello</button>
    <button @click='get_event("Form cannot be submitted yet",$event)'>get-event</button>
  </div>
  <!-- 多个事件处理器 -->
  <div id="multiple-event">
    <button @click='one($event), two($event)'>multiple-event</button>
  </div>
  <div id="capture-event">
    <div class="box1" @click.capture='click_box1'>
      <div class="box2" @click.stop='click_box2'></div>
    </div>
    <form action="" method='GET' @submit.prevent='onSubmit'>
      <div>
        <label for="">username</label>
        <input type="text" v-model='username'>
      </div>
      <input type="submit">
    </form>
  </div>
  <script src="./src/vue.development.js"></script>
  <script src='./src/01-getting-start.js'></script>
  <script src='./src/02-template.js'></script>
  <script src='./src/03-computed-watch.js'></script>
  <script src='./src/04-class-style.js'></script>
  <script src='./src/05-2.x响应式.js'></script>
  <script src='./src/06-3.x响应式.js'></script>
  <script src='./src/07-subscribe-watcher.js'></script>
  <script src='./src/08-for.js'></script>
  <script src='./src/09-vue-mini.js'></script>
  <script src='./src/10-event-bind.js'></script>
</body>
</html>
