/* 样式初始化文件 */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dd,dl,dd,hr,fieldset{
    margin: 0;
}
ol,ul,input,button,textarea,legend,fieldset,table th,table td{
    padding: 0;
}
ol,ul{
    list-style:none;
}
a{
    text-decoration:none;
}
table{
    border-collapse:collapse;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}
i,em{
    font-style:normal;
}
textarea{
    resize:none;
}
/* 清除浮动 */
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
.l_left{
    float:left;
}
.f_right{
    float:right;
}
fieldset,img,input,button{
    border:none;
    outline-style:none;
}