html,body,#root{
  height:100%;
}
.cart_container{
    height:100%;
    background-color:#f5f5f5;
    .address{
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:0.3rem;
      height:0.4rem;
      background-color:#fff;
      color:#212121;
      font-size:0.3rem;
    }
    .cart_list{
      .cart_item{
        margin-top:0.2rem;
        display:flex;
        justify-content:space-between;
        padding:0.21rem 0.27rem 0.2rem 0.32rem;
        height:1.56rem;
        background-color:#fff;
      }
      .goods_poster{
        width:1.52rem;
        height:1.53rem;
        border:0.03rem solid #eee;
      }
      .info{
        width:4.6rem;
        padding-left:0.18rem;
        .name{
          width:3.6rem;
          height:0.6rem;
          font-size:0.28rem;
          color:#666;
          line-height:0.32rem;
        }
        .price{
          font-size:0.24rem;
          color:#999;
        }
        .number{
          transform:translateY(0.1rem);
          display:flex;
          justify-content:space-between;
          align-items:flex-end;
          .button{
            display:flex;
            width:1.55rem;
            height:0.53rem;
            border:0.03rem solid #eee;
            .reduce,.add,.mount{
              flex:1;
              text-align:center;
              line-height:0.53rem;
            }
            .reduce{
              background-color:#fafafa;
            }
            .add{
              background-color:#f4f4f4;
            }
            .mount{
              background-color:#fff;
            }
          }
        }
      }
    }
  .bottom_submit{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:0.85rem;
    display:flex;
    justify-content:space-between;
    z-index:10000;
    .total,.continue_shop,.pay{
      flex:1;
      font-size:0.3rem;
      text-align:center;
    }
    .total{
      background-color:#fff;
      color:#b5b5b5;
      .totalPrice{
        font-size:0.4rem;
        font-weight:bold;
        color:#ff5722;
        &:after{
          content:"元";
          color:#b5b5b5;
          font-weight:normal;
          padding-left:0.1rem;
          font-size:0.3rem;
        }
      }
    }
    .continue_shop{
      color:#333;
      line-height:0.85rem;
      background-color:#f4f4f4;
    }
    .pay{
      line-height:0.85rem;
      background-color:#ff6700;
      color:#fff;
    }
  }

}