.goods_detail{
  .img{
    width:100%;
    height:7.5rem;
  }
  .info{
    padding-left:0.55rem;
    background-color:#fff;
    border-bottom:0.02rem solid #ccc;
    .goods_name{
      padding-top:0.35rem;
      color:#212121;
      font-size:0.38rem;
    }
    .goods_desc{
      padding-top:0.12rem;
      color:#757575;
      font-size:0.25rem;
    }
    .goods_price{
      color:#ff6700;
      font-size:0.4rem;
      line-height:0.72rem;
      &:before{
        content:"￥"
      }
    }
  }
  .control{
    padding-left:0.55rem;
    .amount{
      font-size:0.36rem;
      color:#000;
      line-height:0.8rem;
    }
    input{
      height:0.6rem;
      text-align:center;
      font-size:0.36rem;
    }
    input[type='button']{
      width:1rem;
      border-radius:0.2rem;
    }
    input[type='number']{
      width:0.8rem;
      font-size:0.32rem;
    }
    .add_cart{
      background-color:#ff6700;
      color:#fff;
      width:1.6rem;
      height:0.6rem;
      transform:translateY(0.2rem);
      border-radius:0.1rem;
    }
  }
}
.action_box{
  display:flex;
  align-items:center;
  position:fixed;
  bottom:0.15rem;
  left:0.26rem;
  right:0.26rem;
  height:0.87rem;
  background-color:#fff;
  border-radius:0.3rem;
  border:0.03rem solid #e5e5e5;
  .home a,.cart a{
    margin-left:0.44rem;
    text-align:center;
    font-size:0.28rem;
    color:#757575;
    i.iconfont{
      font-size:0.4rem;
    }
  }
  .buy{
    margin-left:2.2rem;
    margin-right:0.27rem;
    width:1.8rem;
    height:0.54rem;
    line-height:0.53rem;
    background-color:#ff6700;
    border-radius:0.27rem;
    text-align:center;
    a{
      color:#fff;
    }
  }
}