html,body,p,ul,ol,h1,h2,h3,h4,h5,h6,input,button{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
input,button{
	border:none;
	outline:none;
}
i,em{
	font-style:normal;
}
ul,ol{
	list-style:none;
}
a{
    text-decoration:none;
}
html,body,#app{
	height:100%;
}
body{
	font-size:0.26rem;
}
