<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>深入组件</title>
	</head>
	<body>
		<div id="event">
			<p>{{message}}</p>
			<basic-input v-model="message"></basic-input>
		</div>
		<div id="multiple-event">
			<!-- 在同一个组件绑定多个v-model -->
			<p>firstName:{{firstName}}</p>
			<p>lastName:{{lastName}}</p>
			<username
				v-model:first-name="firstName"
				v-model:last-name="lastName"
			></username>
		</div>
		<div id="modifer-event">
			<p>{{msg}}</p>
			<modifer-input v-model.capitalize="msg"></modifer-input>
		</div>
		<p>组件上使用v-model</p>
		<div id="emit-bind">
			<p>{{message}}</p>
			<my-component v-model="message"></my-component>
		</div>
		<p>组件上使用多个v-model</p>
		<div id="mutiple-event-bind">
			<p>player:{{player}}</p>
			<p>singer:{{singer}}</p>
			<my-component v-model:player="player" v-model:singer="singer"></my-component>
		</div>
		<p>v-model的修饰符</p>
		<div id="modifier-event">
			<p>{{message}}</p>
			<my-component v-model.capitalize="message"></my-component>
		</div>
		<p>插槽</p>
		<div id="slot-component">
			<my-component>123</my-component>
			<my-component>hello world</my-component>
			<my-component></my-component>
		</div>
		<div id="layout">
			<base-layout>
<!-- 				<template v-slot:header>
					Hello I am header 
				</template>
				<template v-slot:body>
					Hello I am body
				</template>
				<template v-slot:footerx>
					Hello I am footer
				</template> -->
				<template v-slot:header>
					<h1>Here might be a page title</h1>
				</template>
				<template v-slot:body>
					<p>A paragraph for the main content</p>
					<p>And another one.</p>
				</template>
				<template v-slot:footer>
					<p>Here is some contact info</p>
				</template>
			</base-layout>
		</div>
		<div id="todo-list">
			<todo-list>
				<template v-slot:default="slotProps">
					<span class="green">{{slotProps.item}}</span>
				</template>
			</todo-list>
		</div>
		<div id="provide">
			<todo-list></todo-list>
		</div>
		<div id="dynamic-component-demo" class="demo">
			<button
				 v-for="tab in tabs"
				 :key="tab"
				 :class="['tab-button', { active: currentTab === tab }]"
				 @click="currentTab = tab"
			 >{{ tab }}</button>
			 <keep-alive>
				<component :is="currentTabComponent" class="tab"></component>
			 </keep-alive>
		</div>
		<div id="keep-alive">
			<button @click.stop="toggleSinger">singer</button><button @click.stop="togglePlayer">player</button>
			<keep-alive>
				<component :is="currentTabComponent"></component>
			</keep-alive>
		</div>
		<div id="async-component">
			<AsyncComp v-if="show"></AsyncComp>
		</div>
		<div id="teleport-app">
			<div style="position:relative;">
				<h3>Tooltips with Vue3 Teleport</h3>
				<div>
					<modal-button></modal-button>
				</div>
			</div>
		</div>
		<div id="teleport">
			<div style="position:relative">
				<h3>Tooltips with Vue3 Teleport</h3>
			</div>
			<div>
				<modal-button></modal-button>
			</div>
		</div>
		<div id="teleport-component"></div>
		<div id="multiple-component">
			<my-component></my-component>
		</div>
		<div id="render-function">
			<anchored-heading :level="1">
				<h1>我是第一级标题</h1>
			</anchored-heading>
			<anchored-heading :level="2">
				<h1>我是第二级标题</h1>
			</anchored-heading>
			<anchored-heading :level="3">
				<h1>我是第二级标题</h1>
			</anchored-heading>
		</div>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="./js/event.js"></script>
		<script src="./js/review-emit.js"></script>
		<script src="./js/slot.js"></script>
		<script src="./js/provide-inject.js"></script>
		<script src="./js/keep-alive.js"></script>
		<script src="./js/async-component.js"></script>
		<script src="./js/teleport.js"></script>
		<script src="./js/teleport-component.js"></script>
		<script src="./js/multiple-component.js"></script>
		<script src="./js/render-function.js"></script>
	</body>
</html>
