<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>计算结果</title>
    <style>
        body{
            background-color:pink;
            text-align:center;
        }
        ul,ol{
            list-style:none;
        }
        li{
            font-size:20px;
        }
    </style>
</head>
<body>
    <h3>我是计算结果结算页面</h3>
    <a href="/">点我回首页</a>
    <p>计算的时间为:<%=t%>毫秒</p>
    <p><%=number%>的因素为:</p>
    <ul>
        <%for(let i = 0; i < result.length; i++){%>
            <li><%=result[i]%></li>
        <%}%>
    </ul>
</body>
</html>